[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
instaloader = "*"
sqlalchemy = "*"
config42 = "*"
requests = {extras = ["socks"],version = "*"}
python-telegram-handler = "*"

[requires]
python_version = "3.7"
